body{
margin:0;
background:#0b0b0b;
color:white;
font-family:Georgia,serif;
overflow-x:hidden;
}

/* GOLD CURSOR */
.cursor{
width:20px;
height:20px;
border:2px solid #c9a227;
border-radius:50%;
position:fixed;
pointer-events:none;
transform:translate(-50%,-50%);
transition:0.1s;
z-index:999;
}

/* NAVBAR */
header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:black;
position:sticky;
top:0;
z-index:100;
border-bottom:1px solid #c9a227;
}

header h1{
color:#c9a227;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#c9a227;
}

/* HERO */
.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:url('images/design1.jpg') center/cover;
}

.hero h2{
font-size:45px;
animation:fadeUp 1.5s ease;
}

/* GALLERY */
.gallery{
padding:60px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.grid img{
width:100%;
border-radius:10px;
cursor:pointer;
transition:.4s;
}

.grid img:hover{
transform:scale(1.05);
}

/* POPUP */
.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.9);
display:none;
justify-content:center;
align-items:center;
}

.popup img{
max-width:80%;
max-height:80%;
border-radius:10px;
}

.popup span{
position:absolute;
top:20px;
right:40px;
font-size:40px;
cursor:pointer;
}

/* ABOUT */
.about{
padding:60px;
background:#111;
text-align:center;
}

/* CONTACT */
.contact{
text-align:center;
padding:60px;
}

.contact a{
border:1px solid #c9a227;
padding:12px 25px;
margin:10px;
color:#c9a227;
text-decoration:none;
display:inline-block;
transition:.3s;
}

.contact a:hover{
background:#c9a227;
color:black;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
border-top:1px solid #c9a227;
}

/* ANIMATION */
@keyframes fadeUp{
from{opacity:0;transform:translateY(40px);}
to{opacity:1;transform:translateY(0);}
    }
