body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #0b0b0b;
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: black;
    border-bottom: 1px solid #c9a227;
}

header h1 {
    color: #c9a227;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #c9a227;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: url('images/design1.jpg') center/cover;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    color: #ddd;
}

/* GALLERY */
.gallery {
    padding: 60px 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid img {
    width: 100%;
    border-radius: 10px;
    transition: 0.4s;
}

.grid img:hover {
    transform: scale(1.05);
}

/* ABOUT */
.about {
    padding: 60px;
    text-align: center;
    background: #111;
}

/* CONTACT */
.contact {
    text-align: center;
    padding: 60px;
}

.contact a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #c9a227;
    color: #c9a227;
    text-decoration: none;
}

.contact a:hover {
    background: #c9a227;
    color: black;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    border-top: 1px solid #c9a227;
  }
